appnope==0.1.2
asgiref==3.4.1
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.3
Django==3.2.9
django-braces==1.15.0
django-oauth-toolkit==1.5.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.12.4
entrypoints==0.3
filelock==3.3.1
httplib2==0.20.2
idna==3.3
iniconfig==1.1.1
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==7.0.3
jupyter-core==4.8.1
jwcrypto==1.0
matplotlib-inline==0.1.3
nest-asyncio==1.5.1
oauth2==1.9.0.post1
oauthlib==3.1.1
packaging==21.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2021.5.29
platformdirs==2.4.0
pluggy==1.0.0
prompt-toolkit==3.0.20
provider==0.1.0
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
Pygments==2.10.0
PyJWT==2.3.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.3
pyzmq==22.3.0
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
sqlparse==0.4.2
toml==0.10.2
tornado==6.1
traitlets==5.1.0
urllib3==1.26.7
virtualenv==20.9.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
wrapt==1.13.3
